.logo img {
  width: 80px;
  height: 80px;
}

.logo {
  text-align: center;
}

.ant-layout {
  background: #ffffff;
}

.ant-layout.ant-layout-has-sider {
  min-height: 100vh;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: center;
}

.title-content {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #171717;
  opacity: 0.9;
}

.navbar-left {
  position: relative;
}

.admin-infor {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #070f18;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 10px;
}

.admin-info-left {
  display: flex;
  align-items: center;
}

.admin-info-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.admin-name {
  display: flex;
  flex-direction: column;
}

.admin-name-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #e8e8e8;
}

.admin-name-role {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
}

.admin-info-right i {
  color: #e36761;
  font-size: 20px;
}